#app-mount > div.app-3xd6d0 > div > div.layers-OrUESM.layers-1YQhyW > div > div > div.base-2jDfDU:before {
    display: var(--outdated_windowsXI-082, block) !important;
    position: absolute;
    left: 32% !important;
    width: fit-content;
    border-radius: 0 0 12px 12px !important;
    top: 48px !important;
  }
  
  div {
    &[class*="root"] > div[class*="body"] > div[class*="listScroller"] {
      flex-wrap: wrap;
    }
  
    &[class*="headerText"] > {
      .lastMessageDate-ocEw13, .creationDate-CJwdKT, .joinedAtDate-IawR02 {
        /*margin-top:18px !important;*/
        margin-top: 0px !important;
        position: absolute;
        top: 35px;
  
        /*20px*/
      }
    }
  
    &[id*="popout"] div[class*="headerTop"] > div[class*="headerText"] {
      padding-bottom: 20px;
    }
  
    &[class*="topSection"] {
      .lastMessageDate-ocEw13 {
        margin-top: -45px !important;
        position: relative !important;
      }
  
      .creationDate-CJwdKT, .joinedAtDate-IawR02 {
        margin-top: 0px !important;
        position: relative !important;
      }
    }
  
    &[class*="headerTagNoNickname"] {
      height: 24px;
      overflow: visible;
    }
  }

  .circleIconButton-1VxDrg {
    color: aliceblue;
  }

  .base-2jDfDU {
    background-color: #0e0e0e8a;
}