// Nav TH
nav.wrapper-1_HaEi.guilds-2JjMmN [aria-label="แถบด้านข้างของเซิร์ฟเวอร์"] {
    padding-top: 16px !important;
}

.tree-3agP2X {
    padding-top: 16px !important;
    padding-left: 8px;
    padding-bottom: 16px;
}