//chats
.chat-2ZfjoI {
    background: none;
    background-color: #0e0e0e8a;
}



// Sidechat
.container-2o3qEW {
    background-color: #0e0e0e8a;
}

.members-3WRCEx,
.members-3WRCEx>div {
    background-color: transparent;
}

.scroller-WSmht3 {
    background-color: #0e0e0e8a;
}

.modeSelected-3DmyhH .content-1gYQeQ, .modeSelected-3DmyhH:hover .content-1gYQeQ {
    background-color: #3030306b;
}

// Codebg

.markup-eYLPri code {
    background-color: #0e0e0e8a;
}
