// PopupMessage

.container-2ebMPP {
    background-color: #1e1e1ea1;
    backdrop-filter: blur(16px);
    padding-bottom: 16px;
}
.channelHeader-DFRX8q {
    background-color: #0e0e0e9a;
    backdrop-filter: blur(16px);
}
.header-1w9Q93 {
    
    backdrop-filter: blur(16px);
}

.messages-23can0 {
    background-color: transparent;
    backdrop-filter: blur(16px);
}

.embedFull-1HGV2S {
    background-color: transparent;
    backdrop-filter: blur(16px);
}