body, h1, div, input, textarea, input, h2, h3, h4, h5 {
    font-family: "inter", "Noto Sans Thai Looped", sans-serif !important;
  }
  
  code {
    font-family: 'Ubuntu Mono', monospace;
  }
  
  * {
    -webkit-font-smoothing: antialiased !important;
  }
  body {
    font-family: "inter", "Noto Sans Thai Looped", sans-serif !important;
 }
 
 h1 {
    font-family: "inter", "Noto Sans Thai Looped", sans-serif !important;
 }
 
 div,
 input,
 textarea,
 input {
    font-family: "inter", "Noto Sans Thai Looped", sans-serif !important;
 }
 
 h2,
 h3,
 h4,
 h5 {
    font-family: "inter", "Noto Sans Thai Looped", sans-serif !important;
 }
 
 code {
    font-family: 'Ubuntu Mono', monospace;
 }
 
 * {
    -webkit-font-smoothing: antialiased !important;
 }


 // color

 .name-28HaxV {
   color: #ffffffaf;
 }

 :root {
   --text-normal: #ffffff;
 }